@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@import "tailwindcss";
.carousel-item{
  height:90vh;
}
.swiper {
  --swiper-navigation-color: white;
  --swiper-pagination-color: #f87171;
}
/* Resize navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  width: 24px !important;
  height: 24px !important;
}
@media (min-width: 640px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 40px !important;
    height: 40px !important;
  }
}
.swiper-pagination-bullet {
  background-color: #d1d5db !important; 
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  transform: scale(2);
  transition: all 1s ease;
  background-color: #f87171 !important; 
}

.filter {
  font-family: "SN Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


