@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@import "tailwindcss";
.carousel-item{
  height:90vh;
}
.swiper {
  --swiper-navigation-color: white;
  --swiper-pagination-color: #f87171;
}


.filter {
  font-family: "SN Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


